<a href="https://colab.research.google.com/github/MinervaNunez/Proyecto-de-Python-BEDU/blob/Rama-Jesus/Proyecto_final_E8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Proyecto de Python Equipo 8**


¿Cuál es el registro de personas extraviadas o desaparecidas en México durante el periodo comprendido de 1968 – 2018?

In [27]:
import pandas as pd
import numpy as np

In [28]:
df= pd.read_csv('https://raw.githubusercontent.com/MinervaNunez/Proyecto-de-Python-BEDU/Rama-Jesus/RNPEDFC.csv', sep=',', encoding='ISO-8859-1')
df

,Fecha en que se le vio por ultima vez,Hora en que se le vio por ultima vez,Pais en que se le vio por ultima vez,Entidad en que se le vio por ultima vez,Municipio en que se le vio por ultima vez,Localidad en que se le vio por ultima vez,Nacionalidad,Estatura,Complexion,Sexo,Edad,Descripcion de senas particulares,Etnia,Discapacidad,Dependencia que envio la informacion
0,2012-03-18,05:00:00,MEXICO,SONORA,NAVOJOA,NAVOJOA,MEXICANA,1.1,DELGADA,MUJER,7,TIENE UNA CICATRIZ EN LA RODILLA IZQUIERDA POR...,NO ESPECIFICADO,NINGUNO,FGE - SONORA
1,2007-02-05,02:00:26,MEXICO,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.1,DELGADA,MUJER,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
2,2009-03-14,08:30:54,MEXICO,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.1,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2006-12-23,08:00:28,MEXICO,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.1,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
4,2008-01-11,12:00:17,MEXICO,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.1,DELGADA,HOMBRE,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36260,2018-04-26,08:00:00,MEXICO,PUEBLA,PUEBLA,PUEBLA,MEXICANA,1.6,DELGADA,HOMBRE,22,LUNAR EN LA MEJILLA Y TATUAJE EN EL CUELLO EN ...,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36261,2018-01-08,11:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.7,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36262,2015-02-02,07:00:00,MEXICO,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36263,2017-08-22,04:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36264,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

In [29]:
#Conocemos el dataset Original
df.shape

(36265, 15)

In [30]:
#Conocemos el dataset Original, los tipos de datos
df.dtypes

Fecha en que se le vio por ultima vez        object
Hora en que se le vio por ultima vez         object
Pais en que se le vio por ultima vez         object
Entidad en que se le vio por ultima vez      object
Municipio en que se le vio por ultima vez    object
Localidad en que se le vio por ultima vez    object
Nacionalidad                                 object
Estatura                                     object
Complexion                                   object
Sexo                                         object
Edad                                         object
Descripcion de senas particulares            object
Etnia                                        object
Discapacidad                                 object
Dependencia que envio la informacion         object
dtype: object

In [31]:
#Exploramos NAN
df.isna().sum()

Fecha en que se le vio por ultima vez        0
Hora en que se le vio por ultima vez         0
Pais en que se le vio por ultima vez         0
Entidad en que se le vio por ultima vez      0
Municipio en que se le vio por ultima vez    0
Localidad en que se le vio por ultima vez    0
Nacionalidad                                 0
Estatura                                     0
Complexion                                   0
Sexo                                         0
Edad                                         0
Descripcion de senas particulares            0
Etnia                                        0
Discapacidad                                 0
Dependencia que envio la informacion         0
dtype: int64

In [32]:
# Reindexamos el data set para que se vea coherente 
fin=len(df.index)
fin

36265

In [33]:
lst = list(np.arange(1,fin+1))
#lst
len(lst)

36265

In [34]:
df=df.reindex(lst, method='ffill')
df

,Fecha en que se le vio por ultima vez,Hora en que se le vio por ultima vez,Pais en que se le vio por ultima vez,Entidad en que se le vio por ultima vez,Municipio en que se le vio por ultima vez,Localidad en que se le vio por ultima vez,Nacionalidad,Estatura,Complexion,Sexo,Edad,Descripcion de senas particulares,Etnia,Discapacidad,Dependencia que envio la informacion
1,2007-02-05,02:00:26,MEXICO,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.1,DELGADA,MUJER,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
2,2009-03-14,08:30:54,MEXICO,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.1,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2006-12-23,08:00:28,MEXICO,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.1,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
4,2008-01-11,12:00:17,MEXICO,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.1,DELGADA,HOMBRE,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
5,2012-05-27,12:00:43,MEXICO,ESTADO DE MEXICO,NICOLAS ROMERO,NICOLAS ROMERO,MEXICANA,1.1,DELGADA,HOMBRE,9,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36261,2018-01-08,11:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.7,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36262,2015-02-02,07:00:00,MEXICO,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36263,2017-08-22,04:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36264,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON
36265,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

In [35]:
# Se renombran las columnas y se colocan de manera estandar
column_name_mapping = {
    'Fecha en que se le vio por ultima vez': 'fecha_ultvz',
    'Hora en que se le vio por ultima vez': 'hora_ultvz',
    'Pais en que se le vio por ultima vez': 'pais_ultvz',
    'Entidad en que se le vio por ultima vez': 'entidad_ultvz',
    'Municipio en que se le vio por ultima vez': 'municipio_ultvz',
    'Localidad en que se le vio por ultima vez': 'localidad_ultvz',
    'Nacionalidad': 'nacionalidad',
    'Estatura': 'estatura',
    'Complexion': 'complexion',
    'Sexo': 'sexo',
    'Edad': 'edad',
    'Descripcion de senas particulares': 'senas_particulares',
    'Etnia': 'etnia',
    'Discapacidad': 'discapacidad',
    'Dependencia que envio la informacion': 'dependecia_origen'
    
}

In [36]:
# los cambios se aplican a una copia del dataset original 
df_2 = df.rename(columns=column_name_mapping)
df_2

,fecha_ultvz,hora_ultvz,pais_ultvz,entidad_ultvz,municipio_ultvz,localidad_ultvz,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,etnia,discapacidad,dependecia_origen
1,2007-02-05,02:00:26,MEXICO,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.1,DELGADA,MUJER,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
2,2009-03-14,08:30:54,MEXICO,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.1,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2006-12-23,08:00:28,MEXICO,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.1,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
4,2008-01-11,12:00:17,MEXICO,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.1,DELGADA,HOMBRE,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
5,2012-05-27,12:00:43,MEXICO,ESTADO DE MEXICO,NICOLAS ROMERO,NICOLAS ROMERO,MEXICANA,1.1,DELGADA,HOMBRE,9,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36261,2018-01-08,11:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.7,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36262,2015-02-02,07:00:00,MEXICO,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36263,2017-08-22,04:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36264,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON
36265,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

In [37]:
# verificamos nuevamente los tipos de datos del nuevo dataframe
df_2.dtypes

fecha_ultvz           object
hora_ultvz            object
pais_ultvz            object
entidad_ultvz         object
municipio_ultvz       object
localidad_ultvz       object
nacionalidad          object
estatura              object
complexion            object
sexo                  object
edad                  object
senas_particulares    object
etnia                 object
discapacidad          object
dependecia_origen     object
dtype: object

In [38]:
# Explorando el data set vemos que no tenemos NANS pero tenemos valores denominados "NO ESPECIFICADOS"
print(f'{("Columna"):42} =NO ESPECIFICADO= \n')
for col in df_2.columns:
    print(f'{(col):42} | {(df_2[col] == "NO ESPECIFICADO").sum()}')

Columna                                    =NO ESPECIFICADO=

fecha_ultvz                                | 338
hora_ultvz                                 | 16
pais_ultvz                                 | 0
entidad_ultvz                              | 29
municipio_ultvz                            | 668
localidad_ultvz                            | 3413
nacionalidad                               | 2040
estatura                                   | 11007
complexion                                 | 10569
sexo                                       | 0
edad                                       | 3156
senas_particulares                         | 18915
etnia                                      | 36133
discapacidad                               | 1047
dependecia_origen                          | 0

In [39]:
# INICIAMOS CON LA LIMPIEZA DE DATOS
#
# Quitamos los no especificados del campo fecha, colocando en su lugar otra cadena =0000-00-00
df_2.loc[df_2['fecha_ultvz'] == 'NO ESPECIFICADO', 'fecha_ultvz'] = '0000-00-00'
#Revisamos de nuevo 
print(f'{("Columna"):42} =NO ESPECIFICADO= \n')
for col in df_2.columns:
    print(f'{(col):42} | {(df_2[col] == "NO ESPECIFICADO").sum()}')

Columna                                    =NO ESPECIFICADO=

fecha_ultvz                                | 0
hora_ultvz                                 | 16
pais_ultvz                                 | 0
entidad_ultvz                              | 29
municipio_ultvz                            | 668
localidad_ultvz                            | 3413
nacionalidad                               | 2040
estatura                                   | 11007
complexion                                 | 10569
sexo                                       | 0
edad                                       | 3156
senas_particulares                         | 18915
etnia                                      | 36133
discapacidad                               | 1047
dependecia_origen                          | 0

In [40]:
#Convertimos el tipo de dato de fecha_ultvz especificando que si hay un error que continue
df_2['fecha_ultvz']= pd.to_datetime(df_2['fecha_ultvz'],errors='coerce')

#Convertimos la serie de edad a numerico con pd.to_numeric, inidicando que si encuentra error que continue, pero los pone como NAN
df_2['edad']= pd.to_numeric(df_2['edad'],errors='coerce')

#rellenamos los NAN de Edad con ceros
df_2["edad"]=df_2["edad"].fillna(0)
#Ahora si convertimos la columna edad a int
df_2["edad"]= df_2["edad"].astype(int)
df_2.dtypes

fecha_ultvz           datetime64[ns]
hora_ultvz                    object
pais_ultvz                    object
entidad_ultvz                 object
municipio_ultvz               object
localidad_ultvz               object
nacionalidad                  object
estatura                      object
complexion                    object
sexo                          object
edad                           int64
senas_particulares            object
etnia                         object
discapacidad                  object
dependecia_origen             object
dtype: object

In [41]:
df_2

,fecha_ultvz,hora_ultvz,pais_ultvz,entidad_ultvz,municipio_ultvz,localidad_ultvz,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,etnia,discapacidad,dependecia_origen
1,2007-02-05,02:00:26,MEXICO,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.1,DELGADA,MUJER,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
2,2009-03-14,08:30:54,MEXICO,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.1,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2006-12-23,08:00:28,MEXICO,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.1,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
4,2008-01-11,12:00:17,MEXICO,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.1,DELGADA,HOMBRE,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
5,2012-05-27,12:00:43,MEXICO,ESTADO DE MEXICO,NICOLAS ROMERO,NICOLAS ROMERO,MEXICANA,1.1,DELGADA,HOMBRE,9,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36261,2018-01-08,11:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.7,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36262,2015-02-02,07:00:00,MEXICO,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36263,2017-08-22,04:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36264,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON
36265,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

In [42]:
df_2['edad'].describe()

count    36265.000000
mean        28.121302
std         16.777974
min          0.000000
25%         17.000000
50%         27.000000
75%         38.000000
max        103.000000
Name: edad, dtype: float64

In [43]:
# CONSTRUIMOS NUEVOS DATA FRAMES PARA INTENTAR RESPONDER LAS PREGUNTAS PLANTEADAS
estados= pd.Series(df_2['entidad_ultvz'], name='Estado')
cuenta = df_2.groupby(['entidad_ultvz']).size()
df_freq_estados = pd.DataFrame(df_2.groupby(['entidad_ultvz']).size())
df_freq_estados = df_freq_estados.rename(columns = {0:"Frecuencia"})
  
df_freq_estados

                      Frecuencia
entidad_ultvz
AGUASCALIENTES               223
BAJA CALIFORNIA             1024
BAJA CALIFORNIA SUR           39
CAMPECHE                      35
CHIAPAS                      108
CHIHUAHUA                   2186
CIUDAD DE MEXICO             744
COAHUILA DE ZARAGOZA        1753
COLIMA                       593
DURANGO                      420
ESTADO DE MEXICO            3890
GUANAJUATO                   615
GUERRERO                    1482
HIDALGO                      173
JALISCO                     3362
MICHOACAN                   1215
MORELOS                      241
NAYARIT                      145
NO ESPECIFICADO               29
NUEVO LEON                  2896
OAXACA                       191
PUEBLA                      2069
QUERETARO                    284
QUINTANA ROO                  61
SAN LUIS POTOSI               97
SINALOA                     3027
SONORA                      2149
TABASCO                       67
TAMAULIPAS                  5990
TLAXCALA                      24
VERACRUZ                     524
YUCATAN                       99
ZACATECAS                    510

In [44]:
# AGREGAMOS UN IDENTIFICADOR UNICO CON RESPECTO AL INDEX ACTUAL

#  COMO EL DATAFRAME ORIGINAL NO CONTIENE UN IDENTIFICADOR UNICO DIFERENTE AL INDEX, UTILIZAREMOS EL VALOR DEL INDEX PARA IDENTIFICAR A LOS SUJETOS


if set(['id']).issubset(df_2.columns):
   print("ya existe ID")
else:
  df_2.insert(0,"id", df_2.index, allow_duplicates=False)

df_2

,id,fecha_ultvz,hora_ultvz,pais_ultvz,entidad_ultvz,municipio_ultvz,localidad_ultvz,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,etnia,discapacidad,dependecia_origen
1,1,2007-02-05,02:00:26,MEXICO,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.1,DELGADA,MUJER,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
2,2,2009-03-14,08:30:54,MEXICO,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.1,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,3,2006-12-23,08:00:28,MEXICO,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.1,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
4,4,2008-01-11,12:00:17,MEXICO,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.1,DELGADA,HOMBRE,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
5,5,2012-05-27,12:00:43,MEXICO,ESTADO DE MEXICO,NICOLAS ROMERO,NICOLAS ROMERO,MEXICANA,1.1,DELGADA,HOMBRE,9,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36261,36261,2018-01-08,11:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.7,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36262,36262,2015-02-02,07:00:00,MEXICO,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36263,36263,2017-08-22,04:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36264,36264,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON
36265,36265,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

In [93]:

df_nac= pd.crosstab(index=df_2['nacionalidad'],  columns='recuento', colnames=['nacionalidad'])
print(f'En Méxio estan perdidas personas de {len(df_nac.index)} nacionalidades, dstribuidos de la siguiente manera: \n')
df_nac
#f=df_nac['recuento'].max()
#df3=df_nac.merge(df_nac,left_on=f, right_on= how='left')

En Méxio estan perdidas personas de 26 nacionalidades, dstribuidos de la siguiente manera:

nacionalidad     recuento
nacionalidad
ALEMANA                 1
ARGENTINA               1
BRASILEÑA               1
CANADIENSE              3
CHINA                   1
COLOMBIANA              9
COSTARICENSE            1
CUBANA                  3
DOMINICANA              1
ERITREA                 1
ESPAÑOLA                3
ESTADOUNIDENSE        124
FRANCESA                1
GUATEMALTECO           12
HAITIANA                2
HOLANDESA               1
HONDUREÑA              24
ITALIANA                3
MEXICANA            34016
NICARAGUENSE            1
NO ESPECIFICADO      2040
PANAMEÑA                1
PARAGUAYA               1
PERUANA                 2
SALVADOREÑA             8
VENEZOLANA              4