<a href="https://colab.research.google.com/github/MinervaNunez/Proyecto-de-Python-BEDU/blob/main/Proyecto_Equipo_8__Personas_desaparecidas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto de Python Equipo 8

## Introducci√≥n

üö´ **Advertencia:** Este contenido podria conciderarse como informaci√≥n sensible para algunas perosas

En la actualidad, tener mayor facilidad en el acceso a las ciencias estad√≠sticas e inform√°ticas puede dar una visi√≥n diferente a la que se tiene. En M√©xico, la violencia y la delincuencia ocupan un espacio importante en la realidad del pa√≠s, esta realidad nos afecta a todos los mexicanos.

Siempre hemos de comprender la situaci√≥n tan dif√≠cil que es perder o extraviar a un ser querido o familiar. Las desapariciones causan impactos constantes en las familias, las cuales viven con el dolor de la p√©rdida y la incertidumbre. Cada d√≠a es m√°s com√∫n ver a colectivos y grupos de b√∫squeda exigir ayuda al estado. Algunos colectivos incluso lideran procesos forenses que han ayudado a encontrar v√≠ctimas o dar resoluci√≥n a los casos (Brewer, 2022). Es por esto que **se identifica como problema de alta relevancia el aumento en los casos de personas desaparecidas o no localizadas en M√©xico**.

## Librer√≠as necesarias

In [ ]:
import pandas as pd
import numpy as np
import requests

## Colecci√≥n de Datos

### Obtenci√≥n de los datos mediante API

El gobierno de M√©xico utiliza el sistema de repositorios de datos abiertos [CKAN](https://datos.gob.mx/blog/ckan?category=api-cdn&tag=educacion) para compartir los Datos Abiertos de las dependencias de la Administraci√≥n P√∫blica Federal, as√≠ como de gobiernos locales.

Utilizando la API de CKAN es posible consultar los detalles de los conjuntos de datos que se ofrecen en el portal [datos.gob.mx/busca](https://datos.gob.mx/busca/dataset).

De esta forma, mediante peticiones a esta API podemos obtener la URL del conjunto de datos.

**Realizamos nuestra petici√≥n**

El endpoint para consultar datos es:

https://datos.gob.mx/busca/api/3/action/package_search?q=BUSQUEDA 

Por lo que pasaremos el valor **"desaparecidos"** al parametro *q*, para obtener los datasets relacionados.

In [ ]:
endpoint = 'https://datos.gob.mx/busca/api/3/action/package_search?'
payload = {'q': 'desaparecidos'}

In [ ]:
r = requests.get(endpoint, params=payload)

In [ ]:
r.status_code

200

> La petici√≥n se ha realizado con √©xito

Guardamos el formato *json* obtenido de la petici√≥n echa a la API y visualizamos las llaves principales que contiene

In [ ]:
json = r.json()
json.keys()

dict_keys(['help', 'success', 'result'])

La llave *'result'* es la que nos interesa, exploraremos su contenido para identificar el conjunto de datos que buscamos.

In [ ]:
for key in json['result']['results']:
    print(key['name'])

estadisticas-de-apoyo-y-proteccion-a-detenidos-y-desaparecidos
registro-nacional-de-datos-de-personas-extraviadas-o-desaparecidas-rnped
registro-nacional-de-datos-de-personas-extraviadas-o-desaparecidas-rnped-sitio-espejo-3
registro-nacional-de-datos-de-personas-extraviadas-o-desaparecidas-rnped-sitio-espejo-2
registro-nacional-de-datos-de-personas-extraviadas-o-desaparecidas-rnped-sitio-espejo-1
registro-nacional-de-datos-de-personas-extraviadas-o-desaparecidas-rnped-sitio-espejo-4
cantidad-de-derechohabientes-beneficiados-por-el-programa-integral-de-becas-para-hijos-de-milit

    | El conjunto de datos que buscamos se encuentra en 'registro-nacional-de-datos-de-personas-extraviadas-o-desaparecidas-rnped' con indice 1.

Ahora buscaremos el conjunto de datos dentro de este diccionario.

In [ ]:
for key in json['result']['results'][1]['resources']:
    print(f"Nombre del Dataset: {key['name']} \n{('URL:'):19} {key['url']} \n")

Nombre del Dataset: Base de datos del RNPED del fuero com√∫n
URL:                https://secretariadoejecutivo.gob.mx/transparencia/datos_abiertos/RNPEDFC.csv

Nombre del Dataset: Base de datos del RNPED del fuero federal
URL:                https://secretariadoejecutivo.gob.mx/docs/datos_abiertos/RNPEDFF__1.csv

> Nuestro conjunto de datos es 'Base de datos del RNPED del fuero com√∫n' con indice 0.

Guardamos la URL de nuestro conjunto

In [ ]:
url = json['result']['results'][1]['resources'][0]['url']

**Leemos el archivo .csv a partir de la URL.**

En caso de error de conexi√≥n por falla del servidor, leemos el dataset directamente de nuestro repostitorio de GitHub.

In [ ]:
try:
    raw = pd.read_csv(url, encoding='ISO-8859-1')
except:
    raw = pd.read_csv('https://raw.githubusercontent.com/MinervaNunez/Proyecto-de-Python-BEDU/main/RNPEDFC.csv', encoding='ISO-8859-1')

**Guardamos la versi√≥n RAW de los datos en fromato csv y leemos el archivo**

In [ ]:
raw.to_csv('RNPEDFC.csv', index=False, encoding='ISO-8859-1')

In [ ]:
df = pd.read_csv('RNPEDFC.csv', encoding='ISO-8859-1')

**Obtenermos como resultado nuesto data frame principal.**

In [ ]:
df

,Fecha en que se le vio por ultima vez,Hora en que se le vio por ultima vez,Pais en que se le vio por ultima vez,Entidad en que se le vio por ultima vez,Municipio en que se le vio por ultima vez,Localidad en que se le vio por ultima vez,Nacionalidad,Estatura,Complexion,Sexo,Edad,Descripcion de senas particulares,Etnia,Discapacidad,Dependencia que envio la informacion
0,2012-03-18,05:00:00,MEXICO,SONORA,NAVOJOA,NAVOJOA,MEXICANA,1.1,DELGADA,MUJER,7,TIENE UNA CICATRIZ EN LA RODILLA IZQUIERDA POR...,NO ESPECIFICADO,NINGUNO,FGE - SONORA
1,2007-02-05,02:00:26,MEXICO,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.1,DELGADA,MUJER,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
2,2009-03-14,08:30:54,MEXICO,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.1,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2006-12-23,08:00:28,MEXICO,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.1,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
4,2008-01-11,12:00:17,MEXICO,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.1,DELGADA,HOMBRE,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36260,2018-04-26,08:00:00,MEXICO,PUEBLA,PUEBLA,PUEBLA,MEXICANA,1.6,DELGADA,HOMBRE,22,LUNAR EN LA MEJILLA Y TATUAJE EN EL CUELLO EN ...,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36261,2018-01-08,11:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.7,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36262,2015-02-02,07:00:00,MEXICO,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36263,2017-08-22,04:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36264,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

## An√°lisis exploratorio de datos

:Primero, obtenemos las dimensiones de nuestro `DataFrame`.

In [ ]:
df.shape

(36265, 15)

| Nuestro dataframe tiene 36265 renglones (observaciones), y 15 columnas (variables).

**Veamos cu√°les son nuestras variables.**

Usando dtypes podemos listar cada una de nuestras variables junto con su tipo de dato.

In [ ]:
df.dtypes

Fecha en que se le vio por ultima vez        object
Hora en que se le vio por ultima vez         object
Pais en que se le vio por ultima vez         object
Entidad en que se le vio por ultima vez      object
Municipio en que se le vio por ultima vez    object
Localidad en que se le vio por ultima vez    object
Nacionalidad                                 object
Estatura                                     object
Complexion                                   object
Sexo                                         object
Edad                                         object
Descripcion de senas particulares            object
Etnia                                        object
Discapacidad                                 object
Dependencia que envio la informacion         object
dtype: object

> De acuerdo con el resultado de la anterior celda, nuestras 15 variables y sus tipos de datos (por defecto) son:
    
| Nombre de variable | Tipo |
| -----------------  | ---- |
| Fecha en que se le vio por ultima vez        | object |
| Hora en que se le vio por ultima vez         | object |
| Pais en que se le vio por ultima vez         | object |
| Entidad en que se le vio por ultima vez      | object |
| Municipio en que se le vio por ultima vez    | object |
| Localidad en que se le vio por ultima vez    | object |
| Nacionalidad                                 | object |
| Estatura                                     | object |
| Complexion                                   | object |
| Sexo                                         | object |
| Edad                                         | object |
| Descripcion de senas particulares            | object |
| Etnia                                        | object |
| Discapacidad                                 | object |
| Dependencia que envio la informacion         | object |

In [ ]:
df.index

RangeIndex(start=0, stop=36265, step=1)

> Del anterior comando, `pandas` nos dice que nuestras observaciones est√°n indizadas por valores num√©ricos que empiezan desde el 0 y terminan en 36265.

Finalmente, echamos un vistazo a los datos para darnos una mejor idea de c√≥mo est√° compuesto nuestro `DataFrame` a analizar.

In [ ]:
df.head(5)

,Fecha en que se le vio por ultima vez,Hora en que se le vio por ultima vez,Pais en que se le vio por ultima vez,Entidad en que se le vio por ultima vez,Municipio en que se le vio por ultima vez,Localidad en que se le vio por ultima vez,Nacionalidad,Estatura,Complexion,Sexo,Edad,Descripcion de senas particulares,Etnia,Discapacidad,Dependencia que envio la informacion
0,2012-03-18,05:00:00,MEXICO,SONORA,NAVOJOA,NAVOJOA,MEXICANA,1.1,DELGADA,MUJER,7,TIENE UNA CICATRIZ EN LA RODILLA IZQUIERDA POR...,NO ESPECIFICADO,NINGUNO,FGE - SONORA
1,2007-02-05,02:00:26,MEXICO,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.1,DELGADA,MUJER,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
2,2009-03-14,08:30:54,MEXICO,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.1,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2006-12-23,08:00:28,MEXICO,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.1,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
4,2008-01-11,12:00:17,MEXICO,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.1,DELGADA,HOMBRE,4,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO

In [ ]:
df.tail(10)

,Fecha en que se le vio por ultima vez,Hora en que se le vio por ultima vez,Pais en que se le vio por ultima vez,Entidad en que se le vio por ultima vez,Municipio en que se le vio por ultima vez,Localidad en que se le vio por ultima vez,Nacionalidad,Estatura,Complexion,Sexo,Edad,Descripcion de senas particulares,Etnia,Discapacidad,Dependencia que envio la informacion
36255,2018-04-25,06:30:00,MEXICO,PUEBLA,SAN MARTIN TEXMELUCAN,SAN MARTIN TEXMELUCAN,MEXICANA,1.7,DELGADA,HOMBRE,26,"PECAS EN EL ROSTRO, PERFORACION EN LA ORJA IZQ...",NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36256,2018-04-22,11:30:00,MEXICO,PUEBLA,PUEBLA,PUEBLA,MEXICANA,1.52,DELGADA,MUJER,18,PERFORACION EN LA LENGUA Y MANCHA BLANCA EN ME...,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36257,2017-07-02,11:14:59,MEXICO,SONORA,CANANEA,CANANEA,MEXICANA,NO ESPECIFICADO,NO ESPECIFICADO,HOMBRE,NO ESPECIFICADO,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGE - SONORA
36258,2017-04-06,02:00:00,MEXICO,COLIMA,MANZANILLO,SANTIAGO,MEXICANA,1.71,ROBUSTA,HOMBRE,22,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36259,2018-04-15,06:30:00,MEXICO,COLIMA,COLIMA,COLIMA,MEXICANA,1.59,ROBUSTA,HOMBRE,57,TIENE UNA CICATRIZ EN LA PARTE BAJA DE SU ABDO...,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36260,2018-04-26,08:00:00,MEXICO,PUEBLA,PUEBLA,PUEBLA,MEXICANA,1.6,DELGADA,HOMBRE,22,LUNAR EN LA MEJILLA Y TATUAJE EN EL CUELLO EN ...,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36261,2018-01-08,11:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.7,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36262,2015-02-02,07:00:00,MEXICO,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
36263,2017-08-22,04:00:00,MEXICO,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NO ESPECIFICADO,NINGUNO,PGJ - COLIMA
36264,2018-04-11,02:00:00,MEXICO,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.6,DELGADA,MUJER,14,NO ESPECIFICADO,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

> Del vistazo a los √∫ltimos 10 valores de nuestro dataset podemos observar que nuestro dataset contiene algunos datos faltantes etiquetados por el valor `NO ESPECIFICADO`. Esto es importante tenerlo en cuenta para nuestra limpieza de datos.

### Explorando columnas

Para la exploraci√≥n de nuetras columnas crearemos una funci√≥n a la que le podamos pasar como par√°metros el nombre de nuestro dataset y la columna de la cual queramos conocer los diferentes valores posibles que toma.

In [ ]:
def val_unicos_col(df, col_name):
    return set(df[col_name])

**Fecha en que se le vio por √∫ltima vez**

In [ ]:
df['Fecha en que se le vio por ultima vez']

0        2012-03-18
1        2007-02-05
2        2009-03-14
3        2006-12-23
4        2008-01-11
            ...
36260    2018-04-26
36261    2018-01-08
36262    2015-02-02
36263    2017-08-22
36264    2018-04-11
Name: Fecha en que se le vio por ultima vez, Length: 36265, dtype: object

En esta columna podemos observar entre que a√±os se encuentran los registros de desapariciones de nuestro dataset.

In [ ]:
years = pd.to_numeric(df['Fecha en que se le vio por ultima vez'].str[:4], errors='coerce')

print(f"Fecha m√°s antigua: {round(years.min())}")
print(f"Fecha m√°s reciente: {round(years.max())}")

Fecha m√°s antigua: 1968
Fecha m√°s reciente: 2018

> Nuestros registros van de 1968 a 2018, esto nos dice que hay registros de personas desaparecidas desde 1968 que hasta la fecha no han podido ser localizadas.

**Pa√≠s en que se le vio por √∫ltima vez**

¬øSer√° que existe alguna observaci√≥n para la cual el pais donde se le vi√≥ por √∫ltima vez sea distinto de M√©xico?
Para contestar esta inc√≥gnita podemos ver si la cantidad de registros que satisfacen que `df['Pais en que se le vio por ultima vez'] != 'MEXICO']` es mayor a 0

In [ ]:
len(df.loc[df['Pais en que se le vio por ultima vez'] != 'MEXICO']) > 0

False

> Como la instrucci√≥n anterior retorn√≥ `False`, entonces el Pa√≠s en el que se le vio por √∫ltima vez siempre es M√©xico.

**Entidad en que se le vio por √∫ltima vez**

¬øCu√°les son todos los posibles valores que puede tomar la variable `Entidad en que se le vio por ultima vez`?

In [ ]:
columna = 'Entidad en que se le vio por ultima vez'

val_unicos_col(df, columna)

{'AGUASCALIENTES',
 'BAJA CALIFORNIA',
 'BAJA CALIFORNIA SUR',
 'CAMPECHE',
 'CHIAPAS',
 'CHIHUAHUA',
 'CIUDAD DE MEXICO',
 'COAHUILA DE ZARAGOZA',
 'COLIMA',
 'DURANGO',
 'ESTADO DE MEXICO',
 'GUANAJUATO',
 'GUERRERO',
 'HIDALGO',
 'JALISCO',
 'MICHOACAN',
 'MORELOS',
 'NAYARIT',
 'NO ESPECIFICADO',
 'NUEVO LEON',
 'OAXACA',
 'PUEBLA',
 'QUERETARO',
 'QUINTANA ROO',
 'SAN LUIS POTOSI',
 'SINALOA',
 'SONORA',
 'TABASCO',
 'TAMAULIPAS',
 'TLAXCALA',
 'VERACRUZ',
 'YUCATAN',
 'ZACATECAS'}

> Podemos observar que nuestros dataset contiene registros de los 32 estados de la rep√∫blica mexicana

**Municipio en que se le vio por √∫ltima vez**

¬øCu√°les son todos los posibles valores que puede tomar esta variable?

In [ ]:
columna = 'Municipio en que se le vio por ultima vez'

len(val_unicos_col(df, columna))

1068

> Vemos que son muchos los municipios, por lo que mejor preguntamos por la cantidad de municipios √∫nicos. La respuesta a esta pregunta es 1068 municipios √∫nicos.

**Localidad en que se le vio por √∫ltima vez**

¬øCu√°les son todos los posibles valores que puede tomar esta variable?

In [ ]:
col_name = 'Localidad en que se le vio por ultima vez'

len(val_unicos_col(df, col_name))

2676

> De nuevo, vemos que son muchas las localidades, por lo que mejor preguntamos por la cantidad de valores √∫nicos que toma la variable. La respuesta a esta pregunta es 2676 localidades √∫nicas.

**Nacionalidad**

Vale la pena preguntarse si la variable Nacionalidad toma valores distintos de MEXICANA.

In [ ]:
columna = 'Nacionalidad'

val_unicos_col(df, columna)

{'ALEMANA',
 'ARGENTINA',
 'BRASILE√ëA',
 'CANADIENSE',
 'CHINA',
 'COLOMBIANA',
 'COSTARICENSE',
 'CUBANA',
 'DOMINICANA',
 'ERITREA',
 'ESPA√ëOLA',
 'ESTADOUNIDENSE',
 'FRANCESA',
 'GUATEMALTECO',
 'HAITIANA',
 'HOLANDESA',
 'HONDURE√ëA',
 'ITALIANA',
 'MEXICANA',
 'NICARAGUENSE',
 'NO ESPECIFICADO',
 'PANAME√ëA',
 'PARAGUAYA',
 'PERUANA',
 'SALVADORE√ëA',
 'VENEZOLANA'}

> Listando los valores unicos de esta columna podemos afirmar que en efecto la variable Nacionalidad toma valores distintos de MEXICANA.

**Estatura**

Investiguemos cu√°l es el rango de alturas.

In [ ]:
val_unicos_col(df, 'Estatura')

{'0.3',
 '0.35',
 '0.4',
 '0.42',
 '0.45',
 '0.47',
 '0.49',
 '0.5',
 '0.51',
 '0.52',
 '0.53',
 '0.54',
 '0.55',
 '0.56',
 '0.57',
 '0.58',
 '0.6',
 '0.61',
 '0.62',
 '0.63',
 '0.64',
 '0.65',
 '0.66',
 '0.68',
 '0.7',
 '0.73',
 '0.75',
 '0.76',
 '0.77',
 '0.78',
 '0.8',
 '0.81',
 '0.82',
 '0.83',
 '0.84',
 '0.85',
 '0.86',
 '0.87',
 '0.89',
 '0.9',
 '0.91',
 '0.92',
 '0.93',
 '0.94',
 '0.95',
 '0.96',
 '0.97',
 '0.98',
 '0.99',
 '1',
 '1.01',
 '1.02',
 '1.03',
 '1.04',
 '1.05',
 '1.06',
 '1.07',
 '1.1',
 '1.11',
 '1.13',
 '1.14',
 '1.15',
 '1.16',
 '1.17',
 '1.2',
 '1.21',
 '1.22',
 '1.23',
 '1.25',
 '1.27',
 '1.28',
 '1.29',
 '1.3',
 '1.31',
 '1.32',
 '1.33',
 '1.34',
 '1.35',
 '1.36',
 '1.37',
 '1.38',
 '1.39',
 '1.4',
 '1.41',
 '1.42',
 '1.43',
 '1.44',
 '1.45',
 '1.46',
 '1.47',
 '1.48',
 '1.49',
 '1.5',
 '1.51',
 '1.52',
 '1.53',
 '1.54',
 '1.55',
 '1.56',
 '1.57',
 '1.58',
 '1.59',
 '1.6',
 '1.61',
 '1.62',
 '1.63',
 '1.64',
 '1.65',
 '1.66',
 '1.67',
 '1.68',
 '1.69',
 '1.7',
 '1.71',
 '1.72',
 '1.73',
 '1.74',
 '1.75',
 '1.76',
 '1.77',
 '1.78',
 '1.79',
 '1.8',
 '1.81',
 '1.82',
 '1.83',
 '1.84',
 '1.85',
 '1.86',
 '1.87',
 '1.88',
 '1.89',
 '1.9',
 '1.91',
 '1.92',
 '1.93',
 '1.94',
 '1.95',
 '1.96',
 '1.97',
 '1.98',
 '130',
 '155',
 '170',
 '2',
 '2.04',
 '50',
 '56',
 '70',
 '72',
 '80',
 '90',
 'NO ESPECIFICADO',
 'no ESPECIFICADO'}

> Aqu√≠ nos encontramos un problema en la forma que se encuentran registradas algunas alturas, hay alturas registradas en cent√≠metros y alturas registradas en metros. Adem√°s, identificamos otra forma en la que se registran valores nulos, esta vez como "no ESPECIFICADO".
Entonces esperaremos a responder esta pregunta despu√©s de realizar nuestra limpieza y transformaci√≥n de datos.

**Complexi√≥n**

Veamos qu√© valores √∫nicos puede tomar esta variable.

In [ ]:
columna = 'Complexion'

val_unicos_col(df, columna)

{'DELGADA',
 'MEDIANA',
 'NO ESPECIFICADO',
 'No Especificado',
 'OBESA',
 'ROBUSTA'}

> Podemos observar cuatro categor√≠as diferentes registradas en nuestro dataset. Adem√°s, identificamos otra forma en la que se registran valores nulos, esta vez como "No Especificado".

**Sexo**

Podemos preguntarnos si el campo Sexo permite el registro de gente no binaria o alguna otra forma de identificaci√≥n.

In [ ]:
columna = 'Sexo'
val_unicos_col(df, columna)

{'HOMBRE', 'MUJER'}

> Observamos que la variable Sexo s√≥lo admite dos valores: HOMBRE y MUJER.

**Edad**

Veamos cu√°l es el rango de edad.

In [ ]:
edad = pd.to_numeric(df['Edad'], errors='coerce')

print(f"Edad menor: {round(edad.min())}")
print(f"Edad mayor: {round(edad.max())}")

Edad menor: 1
Edad mayor: 103

> Entonces, el rango de edad va desde 1 a√±o hasta 103 a√±os.

**Descripci√≥n de se√±as particulares**

In [ ]:
df['Descripcion de senas particulares']

0        TIENE UNA CICATRIZ EN LA RODILLA IZQUIERDA POR...
1                                          NO ESPECIFICADO
2        MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...
3        LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...
4                                          NO ESPECIFICADO
                               ...
36260    LUNAR EN LA MEJILLA Y TATUAJE EN EL CUELLO EN ...
36261    EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...
36262                                      NO ESPECIFICADO
36263    TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...
36264                                      NO ESPECIFICADO
Name: Descripcion de senas particulares, Length: 36265, dtype: object

> Observamos que esta variable contiene campos de texto de distintas longitudes.

**Entnia**

Los valores que toma la variable Etnia son:

In [ ]:
columna = 'Etnia'

val_unicos_col(df, columna)

{'AMUZGOS OAXACA',
 'CHATINOS',
 'CHICHIMECAS',
 'CHINANTECOS',
 'CHOLES',
 'HUASTECOS',
 'HUICHOLES',
 'MAMES',
 'MAYAS',
 'MEXICANEROS',
 'MIXTECOS',
 'NAHUAS',
 'NO ESPECIFICADO',
 'OTOMIES',
 'PAMES',
 'SERIS',
 'TARAHUMARAS - RARAMURI',
 'TLALPANECOS',
 'TOTONACAS',
 'YAQUIS'}

**Discapacidad**

Los valores que toma la variable 'Discapacidad' son:

In [ ]:
columna = 'Discapacidad'

val_unicos_col(df, columna)

{'AUTISMO', 'NINGUNO', 'NO ESPECIFICADO', 'SINDROME DE DOWN'}

**Dependencia que envi√≥ la informaci√≥n**

Finalmente, listemos los valores de nuestra ultima columna.

In [ ]:
columna = 'Dependencia que envio la informacion'

val_unicos_col(df, columna)

{'FGE - AGUASCALIENTES',
 'FGE - CAMPECHE',
 'FGE - CHIAPAS',
 'FGE - CHIHUAHUA',
 'FGE - COAHUILA',
 'FGE - DURANGO',
 'FGE - GUERRERO',
 'FGE - JALISCO',
 'FGE - MORELOS',
 'FGE - NAYARIT',
 'FGE - OAXACA',
 'FGE - PUEBLA',
 'FGE - QUERETARO',
 'FGE - QUINTANA ROO',
 'FGE - SAN LUIS POTOSI',
 'FGE - SINALOA',
 'FGE - SONORA',
 'FGE - TABASCO',
 'FGE - VERACRUZ',
 'FGE - YUCATAN',
 'FGE - ZACATECAS',
 'FGJ - ESTADO DE MEXICO',
 'PGJ - BAJA CALIFORNIA',
 'PGJ - BAJA CALIFORNIA SUR',
 'PGJ - CIUDAD DE MEXICO',
 'PGJ - COLIMA',
 'PGJ - GUANAJUATO',
 'PGJ - HIDALGO',
 'PGJ - MICHOACAN',
 'PGJ - NUEVO LEON',
 'PGJ - TAMAULIPAS',
 'PGJ - TLAXCALA'}

> Se muestran las diferentes fiscal√≠as y procuradur√≠as que se encargaron de reportar los registros de desaparici√≥n.

### Conclusiones del primer an√°lisis exploratorio de datos

> Nuestro dataset est√° constituido de 36265 observaciones de 15 variables indizadas del 0 al 36264. Nuestras variables son

| Variable |
| -------  |
| Fecha en que se le vio por ultima vez        |
| Hora en que se le vio por ultima vez         |
| Pais en que se le vio por ultima vez         |
| Entidad en que se le vio por ultima vez      |
| Municipio en que se le vio por ultima vez    |
| Localidad en que se le vio por ultima vez    |
| Nacionalidad                                 |
| Estatura                                     |
| Complexion                                   |
| Sexo                                         |
| Edad                                         |
| Descripcion de senas particulares            |
| Etnia                                        |
| Discapacidad                                 |
| Dependencia que envio la informacion         |

> De una observaci√≥n preliminar de los primeros y √∫ltimos 10 datos podemos observar que el tipo de dato inferido por pandas es err√≥neo (el tipo de dato inferido para todas las columnas fue `object`).

> La propuesta es la siguiente:

| Variable | Tipo |
| -------  | ---- |
| Fecha en que se le vio por ultima vez        | Fecha con formato 'yyyy-mm-dd' |
| Hora en que se le vio por ultima vez         | Hora con formato 'hh:mm:ss' |
| Pais en que se le vio por ultima vez         | Categ√≥rico (`MEXICO`) |
| Entidad en que se le vio por ultima vez      | Categ√≥rico (valores de `val_col_entidad`) |
| Municipio en que se le vio por ultima vez    | Categ√≥rica (valores de `val_col_municipio`) |
| Localidad en que se le vio por ultima vez    | Categ√≥rica (valores de `val_col_localidad`) |
| Nacionalidad                                 | Categ√≥rica (valores de `val_col_nacionalidad`) |
| Estatura                                     | Num√©rico float64 (valores en metros) |
| Complexion                                   | Categ√≥rica (`DELGADA`, `MEDIANA`, `NO ESPECIFICADA`, `OBESA`, `ROBUSTA`) |
| Sexo                                         | Categ√≥rica (`HOMBRE`, `MUJER`) |
| Edad                                         | Num√©rico int64 (`1` a `103`) |
| Descripcion de senas particulares            | Object (string) |
| Etnia                                        | Categ√≥rica (valores de  `val_col_etnia`)|
| Discapacidad                                 | Categ√≥rica (`AUTISMO`, `NINGUNO`, `NO ESPECIFICADO`, `SINDROME DE DOWN`) |
| Dependencia que envio la informacion         | Categ√≥rica (valores de `val_col_dependencia`) |

> Nuestro dataframe no cuenta con valores NaN estrictamente, sin embargo, tenemos registros con el valor de 'NO ESPECIFICADO' (en algunas columnas encontramos variaciones de este) por lo que tendremos que tomar esto en cuenta en la siguiente etapa de limpieza.

## Limpieza de datos y agregaciones

    - Explora tu dataset con el fin de encontrar los NaNs que contiene. Piensa en la distribuci√≥n de NaNs por columna y por fila.
    
    - Piensa cu√°les son los procedimientos que puedes aplicar a tus NaNs. ¬øTenemos que eliminar las filas/columnas que tienen esos NaNs? ¬øO podr√≠amos rellenar esos NaNs con alg√∫n valor de manera que podamos retener esas filas/columnas?
    
    - Limpia tu dataset de manera que no quede ning√∫n NaN.
    
    - Reindexa tu dataset si lo consideras necesario.
    
    - Renombra tus columnas si lo consideras necesario.
    
    - Prueba aplicar agregaciones a tu DataFrame para ver si puedes empezar a responder algunas de las preguntas que te planteaste anteriormente.

### Busqueda de NaNs

In [ ]:
df.isna().sum()

Fecha en que se le vio por ultima vez        0
Hora en que se le vio por ultima vez         0
Pais en que se le vio por ultima vez         0
Entidad en que se le vio por ultima vez      0
Municipio en que se le vio por ultima vez    0
Localidad en que se le vio por ultima vez    0
Nacionalidad                                 0
Estatura                                     0
Complexion                                   0
Sexo                                         0
Edad                                         0
Descripcion de senas particulares            0
Etnia                                        0
Discapacidad                                 0
Dependencia que envio la informacion         0
dtype: int64

> Como nos percatamos en el an√°lisis exploratorio, no contamos con valores faltantes indicados como NaN, sin embargo, identificamos que en nuestro dataset la categor√≠a 'NO ESPECIFICADO' y sus variaciones en cuanto a su escritura ('No Especificado',  'no ESPECIFICADO') fungen como registros de valores faltantes.

Vamos a realizar el conteo por columna de las ocurrencias del valor 'NO ESPECIFICADO' (y sus variaciones) indicando el porcentaje que representa el n√∫mero de faltantes respecto al total de registros en nuestro dataframe.

In [ ]:
print(f'{("Columna"):42} =NO ESPECIFICADO=  Porcentaje\n')
for col in df.columns:
    total = (df[col] == "NO ESPECIFICADO").sum()+(df[col] == "No Especificado").sum()+(df[col] == "no ESPECIFICADO").sum()
    print(f'{(col):42} | {(total):16} {(round((total*100)/df.shape[0], 2)):9}%')

Columna                                    =NO ESPECIFICADO=  Porcentaje

Fecha en que se le vio por ultima vez      |              338      0.93%
Hora en que se le vio por ultima vez       |               16      0.04%
Pais en que se le vio por ultima vez       |                0       0.0%
Entidad en que se le vio por ultima vez    |               29      0.08%
Municipio en que se le vio por ultima vez  |              668      1.84%
Localidad en que se le vio por ultima vez  |             3413      9.41%
Nacionalidad                               |             2040      5.63%
Estatura                                   |            11008     30.35%
Complexion                                 |            11295     31.15%
Sexo                                       |                0       0.0%
Edad                                       |             3156       8.7%
Descripcion de senas particulares          |            18914     52.15%
Etnia                                      |            36133     99.64%
Discapacidad                               |             1047      2.89%
Dependencia que envio la informacion       |                0       0.0%

> Tenemos columnas con nula presencia de faltantes, poca presencia y algunas columnas en donde la cantidad de faltantes es considerable. Pasemos a tomar decisiones sobre como trabajaremos con los valores faltantes en cada columna.

Primero crearemos una copia de nuestro dataframe original para conservarlo.

In [ ]:
df_original = df.copy()

Ahora transformemos todos nuestros valores de 'NO ESPECIFICADO' (y sus variaciones) a NaN

In [ ]:
df = df.replace('NO ESPECIFICADO',np.NaN)
df = df.replace('No Especificado',np.NaN)
df = df.replace('no ESPECIFICADO',np.NaN)

In [ ]:
df.isna().sum()

Fecha en que se le vio por ultima vez          338
Hora en que se le vio por ultima vez            16
Pais en que se le vio por ultima vez             0
Entidad en que se le vio por ultima vez         29
Municipio en que se le vio por ultima vez      668
Localidad en que se le vio por ultima vez     3413
Nacionalidad                                  2040
Estatura                                     11008
Complexion                                   11295
Sexo                                             0
Edad                                          3156
Descripcion de senas particulares            18914
Etnia                                        36133
Discapacidad                                  1047
Dependencia que envio la informacion             0
dtype: int64

> Podemos ver que el conteo de faltantes coincide con el que realizamos previamente.

### Limpiando NaNs

**Fecha en que se le vio por ultima vez**

La variable que registra la fecha en la que se vio por √∫ltima vez a una persona es una variable muy importante en nuestro conjunto de datos y en el contexto del problema. Rellenar esta variable con alg√∫n tipo de dato puede hacer que el valor asignado pierda sentido o generar informaci√≥n err√≥nea acerca del problema. Por esto eliminaremos los registros que contengan valores faltantes en esta columna.

In [ ]:
df = df.dropna(subset=['Fecha en que se le vio por ultima vez'])

In [ ]:
df.isna().sum()

Fecha en que se le vio por ultima vez            0
Hora en que se le vio por ultima vez             0
Pais en que se le vio por ultima vez             0
Entidad en que se le vio por ultima vez         26
Municipio en que se le vio por ultima vez      635
Localidad en que se le vio por ultima vez     3345
Nacionalidad                                  2028
Estatura                                     10784
Complexion                                   11157
Sexo                                             0
Edad                                          3088
Descripcion de senas particulares            18704
Etnia                                        35795
Discapacidad                                  1043
Dependencia que envio la informacion             0
dtype: int64

> Observamos que con las filas eliminadas a partir de los faltantes en las fechas, tambi√©n eliminamos los registros faltantes en 'Hora en que se le vio por √∫ltima vez', esto no representa una gran repercusi√≥n, pues al igual que la columna de fechas, los registros de horas eran datos importantes que no nos conven√≠a rellenar y manipular.

**Entidad en que se le vio por ultima vez**

Esta columna contiene el estado de la rep√∫blica en el que se vio por √∫ltima vez a la persona desaparecida, la cantidad de faltantes es peque√±a y no representa un gran porcentaje respecto al total de registros. Adem√°s, es muy probable que en las filas en donde existan faltantes respecto a esta columna, tambi√©n encontraremos faltantes en las columnas de 'Municipio en que se le vio por √∫ltima vez' y 'Localidad en que se le vio por √∫ltima vez'. Entonces eliminemos las filas con faltantes en esta columna.

In [ ]:
df = df.dropna(subset=['Entidad en que se le vio por ultima vez'])

In [ ]:
df.isna().sum()

Fecha en que se le vio por ultima vez            0
Hora en que se le vio por ultima vez             0
Pais en que se le vio por ultima vez             0
Entidad en que se le vio por ultima vez          0
Municipio en que se le vio por ultima vez      609
Localidad en que se le vio por ultima vez     3319
Nacionalidad                                  2027
Estatura                                     10778
Complexion                                   11150
Sexo                                             0
Edad                                          3084
Descripcion de senas particulares            18690
Etnia                                        35770
Discapacidad                                  1043
Dependencia que envio la informacion             0
dtype: int64

> Como se sospech√≥, al eliminar los faltantes respecto a la columna de entidad, eliminamos NaNs presentes en las dos columnas relacionadas.

Pasemos a la eliminaci√≥n de las columnas que no ser√°n necesarias para responder las preguntas que nos realizamos, o bien que no aportan demasiada informaci√≥n.

**Pais en que se le vio por ultima vez**

Esta columna tiene el mismo valor (M√©xico) para todos los registros de la lista, por el contexto del problema podemos inferir el porqu√© de este valor. Podemos eliminar esta columna, pues no representa informaci√≥n relevante.

In [ ]:
df = df.drop(columns=['Pais en que se le vio por ultima vez'])

**Etnia**

La columna `Etnia` tiene 36133 registros con el valor ‚Äúno especificado‚Äù, es una cantidad muy grande y posiblemente no nos aporte mucho para un an√°lisis.

In [ ]:
df = df.drop(columns=['Etnia'])

In [ ]:
df.columns

Index(['Fecha en que se le vio por ultima vez',
       'Hora en que se le vio por ultima vez',
       'Entidad en que se le vio por ultima vez',
       'Municipio en que se le vio por ultima vez',
       'Localidad en que se le vio por ultima vez', 'Nacionalidad', 'Estatura',
       'Complexion', 'Sexo', 'Edad', 'Descripcion de senas particulares',
       'Discapacidad', 'Dependencia que envio la informacion'],
      dtype='object')

> Las columnas han sido eliminadas correctamente de nuestro dataframe.

Remplazamos los valores faltantes por la media en el caso de columnas num√©ricas que son relevantes para nuestro an√°lisis. No se eliminan porque reducir√≠an bastante el data frame, y no se remplazan por cero porque ser√≠a un valor con un significado incoherente (altura cero es algo que no existe).

**Estatura**

Realizaremos una imputaci√≥n simple usando la media.

Adelantaremos el proceso de transformaci√≥n en esta columna para facilitar la imputaci√≥n. Exploremos nuevamente los valores que toma esta variable.

In [ ]:
val_unicos_col(df, 'Estatura')

{'0.3',
 '0.35',
 '0.4',
 '0.42',
 '0.45',
 '0.47',
 '0.49',
 '0.5',
 '0.51',
 '0.52',
 '0.53',
 '0.54',
 '0.55',
 '0.56',
 '0.57',
 '0.58',
 '0.6',
 '0.61',
 '0.62',
 '0.63',
 '0.64',
 '0.65',
 '0.66',
 '0.68',
 '0.7',
 '0.73',
 '0.75',
 '0.76',
 '0.77',
 '0.78',
 '0.8',
 '0.81',
 '0.82',
 '0.83',
 '0.84',
 '0.85',
 '0.86',
 '0.87',
 '0.89',
 '0.9',
 '0.91',
 '0.92',
 '0.93',
 '0.94',
 '0.95',
 '0.96',
 '0.97',
 '0.98',
 '0.99',
 '1',
 '1.01',
 '1.02',
 '1.03',
 '1.04',
 '1.05',
 '1.06',
 '1.07',
 '1.1',
 '1.11',
 '1.13',
 '1.14',
 '1.15',
 '1.16',
 '1.17',
 '1.2',
 '1.21',
 '1.22',
 '1.23',
 '1.25',
 '1.27',
 '1.28',
 '1.29',
 '1.3',
 '1.31',
 '1.32',
 '1.33',
 '1.34',
 '1.35',
 '1.36',
 '1.37',
 '1.38',
 '1.39',
 '1.4',
 '1.41',
 '1.42',
 '1.43',
 '1.44',
 '1.45',
 '1.46',
 '1.47',
 '1.48',
 '1.49',
 '1.5',
 '1.51',
 '1.52',
 '1.53',
 '1.54',
 '1.55',
 '1.56',
 '1.57',
 '1.58',
 '1.59',
 '1.6',
 '1.61',
 '1.62',
 '1.63',
 '1.64',
 '1.65',
 '1.66',
 '1.67',
 '1.68',
 '1.69',
 '1.7',
 '1.71',
 '1.72',
 '1.73',
 '1.74',
 '1.75',
 '1.76',
 '1.77',
 '1.78',
 '1.79',
 '1.8',
 '1.81',
 '1.82',
 '1.83',
 '1.84',
 '1.85',
 '1.86',
 '1.87',
 '1.88',
 '1.89',
 '1.9',
 '1.91',
 '1.92',
 '1.93',
 '1.94',
 '1.95',
 '1.96',
 '1.97',
 '1.98',
 '130',
 '155',
 '170',
 '2',
 '2.04',
 '50',
 '56',
 '70',
 '72',
 '80',
 '90',
 nan}

> La mayor√≠a de los valores se encuentran en un rango de 0 a 2.04, esto nos dice que se maneja la medici√≥n en metros. Sin embargo, encontramos valores superiores a 50, es muy probable que estos est√©n registrados en cent√≠metros.

Vamos a convertir nuestros valores a tipo flotante y manejarlos en metros, haciendo la conversi√≥n respectiva.

In [ ]:
df['Estatura'] = df['Estatura'].astype(float)
df['Estatura'] = df['Estatura'].apply(lambda x: x/100 if (x >= 3) else x)

> Ahora todas nuestras estaturas est√°n representadas en metros.

Pasemos a la imputaci√≥n usando la media.

In [ ]:
estatura_promedio = round(df['Estatura'].mean(), 2)
estatura_promedio

1.64

In [ ]:
df['Estatura'] = df['Estatura'].fillna(estatura_promedio)

In [ ]:
round(df['Estatura'].mean(), 2)

1.64

In [ ]:
df.isna().sum()

Fecha en que se le vio por ultima vez            0
Hora en que se le vio por ultima vez             0
Entidad en que se le vio por ultima vez          0
Municipio en que se le vio por ultima vez      609
Localidad en que se le vio por ultima vez     3319
Nacionalidad                                  2027
Estatura                                         0
Complexion                                   11150
Sexo                                             0
Edad                                          3084
Descripcion de senas particulares            18690
Discapacidad                                  1043
Dependencia que envio la informacion             0
dtype: int64

> Nuestros valores faltantes en 'Estatura' han sido remplazados por la media, y la media con los valores remplazados sigue siendo igual a 1.64.

**Edad**

Aplicaremos una transformaci√≥n similar en nuestra columna de edades, convirtiendo nuestros valores a enteros.

Pasemos a la imputaci√≥n usando la mediana.

In [ ]:
edad_mediana = df['Edad'].median()
edad_mediana

28.0

In [ ]:
df['Edad'] = df['Edad'].fillna(edad_mediana)

In [ ]:
df['Edad'].median().astype(int)

28

In [ ]:
df["Edad"]= df["Edad"].astype(int)

> Ahora todas nuestras edades est√°n representadas en enteros.

In [ ]:
df.isna().sum()

Fecha en que se le vio por ultima vez            0
Hora en que se le vio por ultima vez             0
Entidad en que se le vio por ultima vez          0
Municipio en que se le vio por ultima vez      609
Localidad en que se le vio por ultima vez     3319
Nacionalidad                                  2027
Estatura                                         0
Complexion                                   11150
Sexo                                             0
Edad                                             0
Descripcion de senas particulares            18690
Discapacidad                                  1043
Dependencia que envio la informacion             0
dtype: int64

In [ ]:
df.dtypes

Fecha en que se le vio por ultima vez         object
Hora en que se le vio por ultima vez          object
Entidad en que se le vio por ultima vez       object
Municipio en que se le vio por ultima vez     object
Localidad en que se le vio por ultima vez     object
Nacionalidad                                  object
Estatura                                     float64
Complexion                                    object
Sexo                                          object
Edad                                           int64
Descripcion de senas particulares             object
Discapacidad                                  object
Dependencia que envio la informacion          object
dtype: object

> Nuestros valores faltantes en 'Edad' han sido remplazados por la mediana, y la mediana con los valores remplazados sigue siendo igual a 28.

En las columnas donde los valores faltantes siguen presentes, vele la pena conservar el valor categ√≥rico de 'NO ESPECIFICADO'. Regresaremos los valores NaN al valor 'NO ESPECIFICADO' (esta vez sin ninguna variaci√≥n) en las columnas restantes, esas columnas son:

*   Municipio en que se le vio por ultima vez
*   Localidad en que se le vio por ultima vez
*   Nacionalidad
*   Complexion
*   Descripcion de senas particulares
*   Discapacidad

In [ ]:
df = df.fillna('NO ESPECIFICADO')

In [ ]:
df.isna().sum()

Fecha en que se le vio por ultima vez        0
Hora en que se le vio por ultima vez         0
Entidad en que se le vio por ultima vez      0
Municipio en que se le vio por ultima vez    0
Localidad en que se le vio por ultima vez    0
Nacionalidad                                 0
Estatura                                     0
Complexion                                   0
Sexo                                         0
Edad                                         0
Descripcion de senas particulares            0
Discapacidad                                 0
Dependencia que envio la informacion         0
dtype: int64

> Hemos limpiado nuestro dataframe de datos faltantes.

Vamos a comprar las dimensiones de nuestro dataframe sin datos faltantes y nuestro dataframe original.

In [ ]:
print(f"Original: {df_original.shape[0]} \nSin NaNs: {df.shape[0]}")
print(f"Registros eliminados: {df_original.shape[0]-df.shape[0]}")
print(f"Porcentaje eliminado: {round(((df_original.shape[0]-df.shape[0])*100)/df_original.shape[0], 3)}%")

Original: 36265
Sin NaNs: 35901
Registros eliminados: 364
Porcentaje eliminado: 1.004%

> Observamos que eliminamos 364 registros, lo que representa un 1.004% del total original.

### Reindexando

In [ ]:
df.tail(2)

,Fecha en que se le vio por ultima vez,Hora en que se le vio por ultima vez,Entidad en que se le vio por ultima vez,Municipio en que se le vio por ultima vez,Localidad en que se le vio por ultima vez,Nacionalidad,Estatura,Complexion,Sexo,Edad,Descripcion de senas particulares,Discapacidad,Dependencia que envio la informacion
36263,2017-08-22,04:00:00,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NINGUNO,PGJ - COLIMA
36264,2018-04-11,02:00:00,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.60,DELGADA,MUJER,14,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

> Podemos ver que el n√∫mero de filas ya no coincide con el √≠ndice del √∫ltimo registro.

Vamos a reindexar y despu√©s establecer nuestros √≠ndices empezando desde 1.

In [ ]:
df = df.reset_index(drop=True)

df.index = df.index + 1

In [ ]:
df

,Fecha en que se le vio por ultima vez,Hora en que se le vio por ultima vez,Entidad en que se le vio por ultima vez,Municipio en que se le vio por ultima vez,Localidad en que se le vio por ultima vez,Nacionalidad,Estatura,Complexion,Sexo,Edad,Descripcion de senas particulares,Discapacidad,Dependencia que envio la informacion
1,2012-03-18,05:00:00,SONORA,NAVOJOA,NAVOJOA,MEXICANA,1.10,DELGADA,MUJER,7,TIENE UNA CICATRIZ EN LA RODILLA IZQUIERDA POR...,NINGUNO,FGE - SONORA
2,2007-02-05,02:00:26,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.10,DELGADA,MUJER,4,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2009-03-14,08:30:54,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.10,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NINGUNO,FGJ - ESTADO DE MEXICO
4,2006-12-23,08:00:28,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.10,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NINGUNO,FGJ - ESTADO DE MEXICO
5,2008-01-11,12:00:17,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.10,DELGADA,HOMBRE,4,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35897,2018-04-26,08:00:00,PUEBLA,PUEBLA,PUEBLA,MEXICANA,1.60,DELGADA,HOMBRE,22,LUNAR EN LA MEJILLA Y TATUAJE EN EL CUELLO EN ...,NINGUNO,FGE - PUEBLA
35898,2018-01-08,11:00:00,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.70,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NINGUNO,PGJ - COLIMA
35899,2015-02-02,07:00:00,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
35900,2017-08-22,04:00:00,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NINGUNO,PGJ - COLIMA
35901,2018-04-11,02:00:00,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.60,DELGADA,MUJER,14,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

> Ahora el n√∫mero de filas ya no coincide con el √≠ndice del √∫ltimo registro y la indexaci√≥n comienza desde 1.

### Renombrando columnas

In [ ]:
df.columns

Index(['Fecha en que se le vio por ultima vez',
       'Hora en que se le vio por ultima vez',
       'Entidad en que se le vio por ultima vez',
       'Municipio en que se le vio por ultima vez',
       'Localidad en que se le vio por ultima vez', 'Nacionalidad', 'Estatura',
       'Complexion', 'Sexo', 'Edad', 'Descripcion de senas particulares',
       'Discapacidad', 'Dependencia que envio la informacion'],
      dtype='object')

> Observamos el nombre de las columnas, podemos estandarizar los nombres para cumplir la convenci√≥n snake case.

Construimos un diccionario con el mapeo de los nombres de las columnas esperados.

In [ ]:
column_name_mapping = {
    'Fecha en que se le vio por ultima vez': 'fecha',
    'Hora en que se le vio por ultima vez': 'hora',
    'Entidad en que se le vio por ultima vez': 'entidad',
    'Municipio en que se le vio por ultima vez': 'municipio',
    'Localidad en que se le vio por ultima vez': 'localidad',
    'Nacionalidad': 'nacionalidad',
    'Estatura': 'estatura',
    'Complexion': 'complexion',
    'Sexo': 'sexo',
    'Edad': 'edad',
    'Descripcion de senas particulares': 'senas_particulares',
    'Discapacidad': 'discapacidad',
    'Dependencia que envio la informacion': 'dependecia_origen'
    
}

df = df.rename(columns=column_name_mapping)
df

,fecha,hora,entidad,municipio,localidad,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,discapacidad,dependecia_origen
1,2012-03-18,05:00:00,SONORA,NAVOJOA,NAVOJOA,MEXICANA,1.10,DELGADA,MUJER,7,TIENE UNA CICATRIZ EN LA RODILLA IZQUIERDA POR...,NINGUNO,FGE - SONORA
2,2007-02-05,02:00:26,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.10,DELGADA,MUJER,4,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2009-03-14,08:30:54,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.10,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NINGUNO,FGJ - ESTADO DE MEXICO
4,2006-12-23,08:00:28,ESTADO DE MEXICO,TLALNEPANTLA DE BAZ,TLALNEPANTLA DE BAZ,MEXICANA,1.10,DELGADA,HOMBRE,10,"LUNARES, A LA ALTURA DE LA CINTURAFORMA DE MAN...",NINGUNO,FGJ - ESTADO DE MEXICO
5,2008-01-11,12:00:17,ESTADO DE MEXICO,TOLUCA,TOLUCA,MEXICANA,1.10,DELGADA,HOMBRE,4,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35897,2018-04-26,08:00:00,PUEBLA,PUEBLA,PUEBLA,MEXICANA,1.60,DELGADA,HOMBRE,22,LUNAR EN LA MEJILLA Y TATUAJE EN EL CUELLO EN ...,NINGUNO,FGE - PUEBLA
35898,2018-01-08,11:00:00,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.70,ROBUSTA,MUJER,27,"EL OJO IZQUIERDO TIENE UN ENFERMEDAD COMO TIC,...",NINGUNO,PGJ - COLIMA
35899,2015-02-02,07:00:00,PUEBLA,CHILA,CHILAS DE LAS FLORES,MEXICANA,1.77,MEDIANA,MUJER,86,NO ESPECIFICADO,NINGUNO,FGE - PUEBLA
35900,2017-08-22,04:00:00,COLIMA,VILLA DE ALVAREZ,VILLA DE ALVAREZ,MEXICANA,1.76,ROBUSTA,HOMBRE,41,TATUAJE EN EL BRAZO IZQUIERDO CON LA IMAGEN DE...,NINGUNO,PGJ - COLIMA
35901,2018-04-11,02:00:00,NUEVO LEON,SAN NICOLAS DE LOS GARZA,SAN NICOLAS DE LOS GARZA,MEXICANA,1.60,DELGADA,MUJER,14,NO ESPECIFICADO,NINGUNO,PGJ - NUEVO LEON

> Nuestros nombres se encuentran estandarizados y cumplen la convenci√≥n snake case.

### Agregaciones

![image.png](attachment:image.png)

In [ ]:
df.describe().T

            count       mean        std  min    25%    50%   75%     max
estatura  35901.0   1.639094   0.136044  0.3   1.62   1.64   1.7    2.04
edad      35901.0  30.549929  14.370017  1.0  21.00  28.00  38.0  103.00

## Automatizaci√≥n y APIs

    Puede que sea un API que complemente tu dataset original (eso ser√≠a lo mejor de lo mejor)

     Puedes tambi√©n explorar la posibilidad de automatizar algunos de los procesos de limpieza que has realizado con tu dataset. Si encuentras d√≥nde podr√≠a ser √∫til y te animas a hacerlo, recuerda proteger tu c√≥digo con estructuras try except para que la automatizaci√≥n no falle.

## Transformaci√≥n, filtraci√≥n y ordenamiento de datos

### Casting

Observemos nuevamente nuestras columnas y su tipo de dato.

In [ ]:
df.dtypes

fecha                  object
hora                   object
entidad                object
municipio              object
localidad              object
nacionalidad           object
estatura              float64
complexion             object
sexo                   object
edad                    int64
senas_particulares     object
discapacidad           object
dependecia_origen      object
dtype: object

> Ya realizamos el casting correspondiente en nuestras variables num√©ricas 'estatura' y 'edad' pero a√∫n tenemos dos columnas que tienen un tipo de dato incorrecto.

Usaremos el m√©todo `astype` y un diccionario de conversi√≥n para cambiar el tipo de datos de las columnas 'fecha' y 'hora'.

In [ ]:
diccionario_de_conversion = {
    'fecha': 'datetime64',
    'hora': 'datetime64'
}

In [ ]:
df = df.astype(diccionario_de_conversion)

In [ ]:
df['fecha']

1       2012-03-18
2       2007-02-05
3       2009-03-14
4       2006-12-23
5       2008-01-11
           ...
35897   2018-04-26
35898   2018-01-08
35899   2015-02-02
35900   2017-08-22
35901   2018-04-11
Name: fecha, Length: 35901, dtype: datetime64[ns]

In [ ]:
df['hora']

1       2022-09-15 05:00:00
2       2022-09-15 02:00:26
3       2022-09-15 08:30:54
4       2022-09-15 08:00:28
5       2022-09-15 12:00:17
                ...
35897   2022-09-15 08:00:00
35898   2022-09-15 11:00:00
35899   2022-09-15 07:00:00
35900   2022-09-15 04:00:00
35901   2022-09-15 02:00:00
Name: hora, Length: 35901, dtype: datetime64[ns]

> Las variables fecha y hora ya son de tipo `datetime64`, sin embargo, a los valores de hora se les ha agregado la fecha actual, debemos corregir esto.

Extraemos √∫nicamente el registro del tiempo de la columna 'hora'.

In [ ]:
df['hora'] = df['hora'].dt.time
df['hora']

1        05:00:00
2        02:00:26
3        08:30:54
4        08:00:28
5        12:00:17
           ...
35897    08:00:00
35898    11:00:00
35899    07:00:00
35900    04:00:00
35901    02:00:00
Name: hora, Length: 35901, dtype: object

In [ ]:
df.dtypes

fecha                 datetime64[ns]
hora                          object
entidad                       object
municipio                     object
localidad                     object
nacionalidad                  object
estatura                     float64
complexion                    object
sexo                          object
edad                           int64
senas_particulares            object
discapacidad                  object
dependecia_origen             object
dtype: object

> Vemos que el formato de 'fecha' ahora aparece como `datetime64[ns]`, en el caso de la columna 'hora' lo sigue mostrando como object porque es una extracci√≥n de  `datetime64[ns]`.

### Manipulaci√≥n de Strings

In [ ]:
df.head(3)

,fecha,hora,entidad,municipio,localidad,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,discapacidad,dependecia_origen
1,2012-03-18,05:00:00,SONORA,NAVOJOA,NAVOJOA,MEXICANA,1.1,DELGADA,MUJER,7,TIENE UNA CICATRIZ EN LA RODILLA IZQUIERDA POR...,NINGUNO,FGE - SONORA
2,2007-02-05,02:00:26,ESTADO DE MEXICO,VALLE DE BRAVO,VALLE DE BRAVO,MEXICANA,1.1,DELGADA,MUJER,4,NO ESPECIFICADO,NINGUNO,FGJ - ESTADO DE MEXICO
3,2009-03-14,08:30:54,ESTADO DE MEXICO,CHALCO,CHALCO,MEXICANA,1.1,DELGADA,HOMBRE,6,"MANCHAS, PARTE SUPERIOR DE PIERNA DERECHA, CIC...",NINGUNO,FGJ - ESTADO DE MEXICO

Los textos de nuestras variables de tipo `string` est√°n en may√∫sculas. Vamos a modificar el patr√≥n iniciando con may√∫scula la primera letra de cada palabra.

In [ ]:
columnas = ['entidad', 'municipio', 'localidad', 'nacionalidad', 'complexion', 'sexo', 'senas_particulares', 'discapacidad']

for col in columnas:
    df[col] = df[col].str.title()

En el caso de los valores de dependencia origen nos encontramos con las siglas de las dependencias, por lo tanto, debemos mantenerlas de esta forma. Podemos extraer las letras correspondientes a las siglas y aplicar `.str.title()` √∫nicamente en el resto del texto.

In [ ]:
df['dependecia_origen'] = df['dependecia_origen'].str[:6] + df['dependecia_origen'].str[6:].str.title()

In [ ]:
df

,fecha,hora,entidad,municipio,localidad,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,discapacidad,dependecia_origen
1,2012-03-18,05:00:00,Sonora,Navojoa,Navojoa,Mexicana,1.10,Delgada,Mujer,7,Tiene Una Cicatriz En La Rodilla Izquierda Por...,Ninguno,FGE - Sonora
2,2007-02-05,02:00:26,Estado De Mexico,Valle De Bravo,Valle De Bravo,Mexicana,1.10,Delgada,Mujer,4,No Especificado,Ninguno,FGJ - Estado De Mexico
3,2009-03-14,08:30:54,Estado De Mexico,Chalco,Chalco,Mexicana,1.10,Delgada,Hombre,6,"Manchas, Parte Superior De Pierna Derecha, Cic...",Ninguno,FGJ - Estado De Mexico
4,2006-12-23,08:00:28,Estado De Mexico,Tlalnepantla De Baz,Tlalnepantla De Baz,Mexicana,1.10,Delgada,Hombre,10,"Lunares, A La Altura De La Cinturaforma De Man...",Ninguno,FGJ - Estado De Mexico
5,2008-01-11,12:00:17,Estado De Mexico,Toluca,Toluca,Mexicana,1.10,Delgada,Hombre,4,No Especificado,Ninguno,FGJ - Estado De Mexico
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35897,2018-04-26,08:00:00,Puebla,Puebla,Puebla,Mexicana,1.60,Delgada,Hombre,22,Lunar En La Mejilla Y Tatuaje En El Cuello En ...,Ninguno,FGE - Puebla
35898,2018-01-08,11:00:00,Colima,Villa De Alvarez,Villa De Alvarez,Mexicana,1.70,Robusta,Mujer,27,"El Ojo Izquierdo Tiene Un Enfermedad Como Tic,...",Ninguno,PGJ - Colima
35899,2015-02-02,07:00:00,Puebla,Chila,Chilas De Las Flores,Mexicana,1.77,Mediana,Mujer,86,No Especificado,Ninguno,FGE - Puebla
35900,2017-08-22,04:00:00,Colima,Villa De Alvarez,Villa De Alvarez,Mexicana,1.76,Robusta,Hombre,41,Tatuaje En El Brazo Izquierdo Con La Imagen De...,Ninguno,PGJ - Colima
35901,2018-04-11,02:00:00,Nuevo Leon,San Nicolas De Los Garza,San Nicolas De Los Garza,Mexicana,1.60,Delgada,Mujer,14,No Especificado,Ninguno,PGJ - Nuevo Leon

Dado que la informaci√≥n ya est√° en el formato deseado, podemos empezar a crear nuevas columnas y segmentar el `DataFrame` para contestar las preguntas descritas en el proyecto

**¬øEn qu√© parte del pa√≠s desaparecen m√°s personas?**

---

Para poder contestar esta pregunta simplemente hacemos una agrupaci√≥n de los casos de desaparecidos por entidad.

In [ ]:
df_entidad= pd.DataFrame(df.groupby(['entidad'], sort=False).size().reset_index(name='total'))
df_entidad

                 entidad  total
0                 Sonora   2150
1       Estado De Mexico   3890
2              Chihuahua   2181
3               Tlaxcala     24
4                 Colima    592
5                Morelos    239
6                Hidalgo    145
7                Durango    415
8              Queretaro    283
9             Guanajuato    615
10               Sinaloa   3023
11            Nuevo Leon   2895
12               Jalisco   3361
13             Zacatecas    510
14   Baja California Sur     39
15       Baja California    865
16        Aguascalientes    222
17       San Luis Potosi     96
18                Puebla   2066
19              Campeche     34
20                Oaxaca    190
21              Veracruz    520
22  Coahuila De Zaragoza   1714
23            Tamaulipas   5987
24             Michoacan   1207
25               Yucatan     99
26              Guerrero   1438
27               Tabasco     67
28      Ciudad De Mexico    727
29          Quintana Roo     61
30               Chiapas    108
31               Nayarit    138

Una vez generado el nuevo `DataFrame`, buscamos el valor m√°ximo.

In [ ]:
df_entidad.sort_values('total', ascending=False)

                 entidad  total
23            Tamaulipas   5987
1       Estado De Mexico   3890
12               Jalisco   3361
10               Sinaloa   3023
11            Nuevo Leon   2895
2              Chihuahua   2181
0                 Sonora   2150
18                Puebla   2066
22  Coahuila De Zaragoza   1714
26              Guerrero   1438
24             Michoacan   1207
15       Baja California    865
28      Ciudad De Mexico    727
9             Guanajuato    615
4                 Colima    592
21              Veracruz    520
13             Zacatecas    510
7                Durango    415
8              Queretaro    283
5                Morelos    239
16        Aguascalientes    222
20                Oaxaca    190
6                Hidalgo    145
31               Nayarit    138
30               Chiapas    108
25               Yucatan     99
17       San Luis Potosi     96
27               Tabasco     67
29          Quintana Roo     61
14   Baja California Sur     39
19              Campeche     34
3               Tlaxcala     24



> El Estado o Entidad con mayor casos de desaparecidos registrados en el periodo de 1968 al 2018 es Tamaulipas con 5,987 personas desaparecidas. Tambi√©n se puede ver que el Estado con menos casos de desaparecidos es Tlaxcala.

Gracias a la naturaleza del registro, la pregunta hecha se puede contestar de manera m√°s espec√≠fica incluyendo el municipio e incluso la localidad.

In [ ]:
df.entidad_municipio= pd.DataFrame(df.groupby(['entidad', 'municipio'], sort=False).size().reset_index(name='total'))
df.entidad_municipio

               entidad            municipio  total
0               Sonora              Navojoa     76
1     Estado De Mexico       Valle De Bravo     30
2     Estado De Mexico               Chalco    129
3     Estado De Mexico  Tlalnepantla De Baz     88
4     Estado De Mexico               Toluca    346
...                ...                  ...    ...
1159            Puebla              Piaxtla      1
1160            Puebla          Petlalcingo      1
1161           Yucatan               Chemax      1
1162        Nuevo Leon                 Mina      1
1163            Puebla                Chila      1

[1164 rows x 3 columns]

In [ ]:
df.entidad_municipio_localidad= pd.DataFrame(df.groupby(['entidad', 'municipio', 'localidad'], sort=False).size().reset_index(name='total'))
df.entidad_municipio_localidad

               entidad            municipio                   localidad  total
0               Sonora              Navojoa                     Navojoa     68
1     Estado De Mexico       Valle De Bravo              Valle De Bravo     25
2     Estado De Mexico               Chalco                      Chalco    124
3     Estado De Mexico  Tlalnepantla De Baz         Tlalnepantla De Baz     82
4     Estado De Mexico               Toluca                      Toluca    312
...                ...                  ...                         ...    ...
3558        Nuevo Leon                 Mina                        Mina      1
3559        Nuevo Leon            Monterrey                  Montyerrey      1
3560            Puebla               Puebla  San Hipolito Xochiltenango      1
3561            Sonora               Cajeme                     Obregon      1
3562            Puebla                Chila        Chilas De Las Flores      1

[3563 rows x 4 columns]

Ahora podemos ver cu√°l es el municipio y localidad que tiene el mayor n√∫mero de casos.

In [ ]:
df.entidad_municipio_localidad.sort_values('total', ascending=False)

         entidad     municipio                 localidad  total
367   Tamaulipas     Matamoros                 Matamoros   1157
99    Nuevo Leon     Monterrey                 Monterrey    989
372   Tamaulipas       Reynosa                   Reynosa    965
366   Tamaulipas  Nuevo Laredo              Nuevo Laredo    952
285       Puebla        Puebla                    Puebla    926
...          ...           ...                       ...    ...
1949  Tamaulipas  San Fernando  Ejido Laguna De San Juan      1
1947      Puebla  Tecamachalco               Yehualtepec      1
345       Puebla        Puebla     San Martin Texmelucan      1
1945  Tamaulipas     Matamoros              El Mezquital      1
3562      Puebla         Chila      Chilas De Las Flores      1

[3563 rows x 4 columns]



> Matamoros es el municipio y la localidad con m√°s casos de personas desaparecidas en M√©xico. Podemos ver que en los primeros cinco lugares se encuentran municipios y localidades de Tamaulipas, Nuevo Le√≥n y Puebla.

**¬øEn M√©xico solamente desaparecen mexicanos?**

---

Para poder saber la nacionalidad de las personas desaparecidas en M√©xico, podemos hacer un ``groupby``de la nacionalidad.

In [ ]:
df.desaparecidos_nacionalidad= pd.DataFrame(df.groupby(['nacionalidad'], sort=False).size().reset_index(name='total'))
df.desaparecidos_nacionalidad

       nacionalidad  total
0          Mexicana  33667
1    Estadounidense    123
2   No Especificado   2027
3           Alemana      1
4        Colombiana      9
5           Eritrea      1
6      Nicaraguense      1
7            Cubana      3
8         Hondure√±a     24
9      Guatemalteco     11
10         Espa√±ola      3
11          Peruana      2
12       Dominicana      1
13        Brasile√±a      1
14        Holandesa      1
15       Canadiense      3
16      Salvadore√±a      8
17        Argentina      1
18        Paraguaya      1
19            China      1
20         Haitiana      2
21       Venezolana      4
22         Paname√±a      1
23     Costaricense      1
24         Italiana      3
25         Francesa      1



Con el nuevo `DataFrame` generado podemos ver que hay 24 nacionalidades que se mencionan en el registro de personas desaparecidas. Adem√°s de que existen muchos casos no especificados en el registro. 


> La gran mayor√≠a de personas desaparecidas son mexicanxs. No obstante, tambi√©n hay casos de estadounidenses, hondure√±xs, italianxs, etc.

**¬øDesaparecen m√°s hombres, mujeres o ni√±os?**

---

Dado que no existe una columna que especifique si la persona que desapareci√≥ es menor de edad, esta pregunta la podemos contestar por partes. Primero visualizamos los casos de desaparici√≥n seg√∫n el sexo de la persona.

In [ ]:
df.groupby(['sexo'], sort=False).size().reset_index(name='total')

     sexo  total
0   Mujer   9226
1  Hombre  26675



> Seg√∫n los datos del registro, hay 9,226 mujeres desaparecidas y 26,675 hombres desaparecidos. La mayor√≠a de las personas desaparecidas en M√©xico son hombres.

De igual manera, podemos observar los casos de personas desaparecidas por sexo y edad.

In [ ]:
df.desaparecidos_sexo_edad= pd.DataFrame(df.groupby(['sexo', 'edad'], sort=True).size().reset_index(name='total'))
df.desaparecidos_sexo_edad.sort_values('total', ascending= False)

       sexo  edad  total
27   Hombre    28   3115
25   Hombre    26    873
126   Mujer    28    849
20   Hombre    21    797
114   Mujer    16    783
..      ...   ...    ...
186   Mujer    88      1
187   Mujer    89      1
94   Hombre    96      1
191   Mujer    96      1
192   Mujer    97      1

[193 rows x 3 columns]



> Los hombres de 28, 26, y 21 a√±os de edad son las personas que tienen el mayor registro de desaparecidos, mientras que las mujeres de 28 y 16 a√±os son las m√°s vulnerables en la crisis de personas desaparecidas. De igual forma se puede ver que las personas de la tercera edad son las que menos registros de desaparici√≥n tienen.

Para poder saber la proporci√≥n de menores de edad que desaparecen a comparaci√≥n de los mayores de edad se ejecuta un test en donde se eval√∫a si la edad registrada es mayor/igual o menor a 18.

In [ ]:
test = {
    'Mayor de edad': (df['edad'] >= 18).sum(),
    'Menor de edad': (df['edad'] < 18).sum()
}

In [ ]:
pd.DataFrame(test, index=[1])

   Mayor de edad  Menor de edad
1          29466           6435



> Hay 29,466 casos de mayores de edad desaparecidos, siendo esto el 82% del total (35,901) de los registros de personas desaparecidas. Los menores de edad forman alrededor del 18% de los casos de personas desaparecidas.

Seg√∫n los resultados obtenidos, desaparecen m√°s hombres que mujeres en M√©xico. Adicionalmente, desaparecen m√°s personas mayores de edad que menores de edad.

**¬øExiste una relaci√≥n entre el sexo de la persona desaparecida con respecto al lugar de desaparici√≥n?**

---

Con la informaci√≥n que ofrece el registro no se puede afirmar que exista una relaci√≥n directa entre el lugar de desaparici√≥n y el sexo de la persona. Sin embargo se puede visualizar cu√°l es la frecuencia de edad m√°s com√∫n de las personas seg√∫n su sexo y lugar de desaparici√≥n.

In [ ]:
df.groupby('sexo')[['edad', 'entidad']].agg(pd.Series.mode)

        edad           entidad
sexo
Hombre    28        Tamaulipas
Mujer     28  Estado De Mexico



> La edad, tanto de hombres como mujeres, con m√°s casos de desaparecidos es de 28 a√±os. No obstante, para los hombres el lugar de la desaparici√≥n es en Tamaulipas. Las mujeres tienen m√°s casos de desaparici√≥n en el Estado de M√©xico. Esto va acorde a la investigaci√≥n realizada en el proyecto dado que existe un aumento de violencia a las mujeres en el Estado de M√©xico. De igual manera, en el norte del pa√≠s existe mucha violencia de grupos armados liderados en su mayor√≠a por hombres.

A pesar de que esto no es una confirmaci√≥n absoluta de que existe una relaci√≥n entre la edad, el sexo, y el lugar de desaparici√≥n, podr√≠a llegar a ser un dato que respalde una investigaci√≥n formal al respecto.

**¬øCu√°nto tiempo desaparecen las personas que encuentran?**


---

El registro usado en este proyecto no cuenta con el estado del caso, es decir si la persona registrada fue encontrada o no lo fue. Es por esto que esta pregunta no se puede responder en su totalidad. Sin embargo, saber cu√°ntos d√≠as lleva la persona desaparecida es informaci√≥n relevante. Con los datos del registro es posible a√±adir una columna que indique los d√≠as que han transcurrido desde su desaparici√≥n.

Ya que el registro no contiene datos al d√≠a de hoy, no podemos asumir que las personas siguen desaparecidas en el presente. Por esto, vamos a tomar la √∫ltima fecha que existe en el registro para hacer el conteo de d√≠as que han transcurrido desde su desaparici√≥n.

In [ ]:
df['fecha'].max()

Timestamp('2018-04-29 00:00:00')



> La √∫ltima fecha que se encuentra registrada es del 29 de Abril del 2018.

En la informaci√≥n del cat√°logo de datos abiertos del Gobierno, las cifras presentan el total de registros de personas relacionadas con averiguaciones previas, carpetas de investigaci√≥n o actas circunstanciadas del fuero com√∫n que permanecen sin localizar al corte del 30 de abril del 2018 distribuidas por a√±o. Por tanto, tomaremos como √∫ltima fecha el 30 de Abril del 2018.

Definiendo la funci√≥n `dias_desaparecidos` podemos hacer la resta de la fecha establecida como la fecha l√≠mite y la fecha de desaparici√≥n por cada caso. Usando `.apply` podemos realizar la resta elemento por elemento en el `DataFrame`. De esta manera calculamos los d√≠as que la persona lleva como desaparecida.

In [ ]:
def dias_desaparecidos(value):
    as_datetime = pd.to_datetime(value, unit='ms')
    ultima_fecha = pd.to_datetime('2018-04-30')
    dias_diferencia = (ultima_fecha - as_datetime).days
    return dias_diferencia

In [ ]:
df['dias_desaparecido'] = df['fecha'].apply(dias_desaparecidos)

In [ ]:
df

,fecha,hora,entidad,municipio,localidad,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,discapacidad,dependecia_origen,dias_desaparecido
1,2012-03-18,05:00:00,Sonora,Navojoa,Navojoa,Mexicana,1.10,Delgada,Mujer,7,Tiene Una Cicatriz En La Rodilla Izquierda Por...,Ninguno,FGE - Sonora,2234
2,2007-02-05,02:00:26,Estado De Mexico,Valle De Bravo,Valle De Bravo,Mexicana,1.10,Delgada,Mujer,4,No Especificado,Ninguno,FGJ - Estado De Mexico,4102
3,2009-03-14,08:30:54,Estado De Mexico,Chalco,Chalco,Mexicana,1.10,Delgada,Hombre,6,"Manchas, Parte Superior De Pierna Derecha, Cic...",Ninguno,FGJ - Estado De Mexico,3334
4,2006-12-23,08:00:28,Estado De Mexico,Tlalnepantla De Baz,Tlalnepantla De Baz,Mexicana,1.10,Delgada,Hombre,10,"Lunares, A La Altura De La Cinturaforma De Man...",Ninguno,FGJ - Estado De Mexico,4146
5,2008-01-11,12:00:17,Estado De Mexico,Toluca,Toluca,Mexicana,1.10,Delgada,Hombre,4,No Especificado,Ninguno,FGJ - Estado De Mexico,3762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35897,2018-04-26,08:00:00,Puebla,Puebla,Puebla,Mexicana,1.60,Delgada,Hombre,22,Lunar En La Mejilla Y Tatuaje En El Cuello En ...,Ninguno,FGE - Puebla,4
35898,2018-01-08,11:00:00,Colima,Villa De Alvarez,Villa De Alvarez,Mexicana,1.70,Robusta,Mujer,27,"El Ojo Izquierdo Tiene Un Enfermedad Como Tic,...",Ninguno,PGJ - Colima,112
35899,2015-02-02,07:00:00,Puebla,Chila,Chilas De Las Flores,Mexicana,1.77,Mediana,Mujer,86,No Especificado,Ninguno,FGE - Puebla,1183
35900,2017-08-22,04:00:00,Colima,Villa De Alvarez,Villa De Alvarez,Mexicana,1.76,Robusta,Hombre,41,Tatuaje En El Brazo Izquierdo Con La Imagen De...,Ninguno,PGJ - Colima,251
35901,2018-04-11,02:00:00,Nuevo Leon,San Nicolas De Los Garza,San Nicolas De Los Garza,Mexicana,1.60,Delgada,Mujer,14,No Especificado,Ninguno,PGJ - Nuevo Leon,19



> Ahora el `DataFrame` contiene como √∫ltima columna los d√≠as de desaparecido. Podemos ver que el caso de la primera posici√≥n lleva 2,236 d√≠as de desaparecido.

**¬øEn qu√© a√±os han desaparecido m√°s personas?**

---

Si queremos contestar la pregunta √∫nicamente con el a√±o, necesitamos extraer el a√±o de la fecha y agregarlo al `DataFrame`.

In [ ]:
df['anio'] = df['fecha'].dt.year

In [ ]:
df

,fecha,hora,entidad,municipio,localidad,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,discapacidad,dependecia_origen,dias_desaparecido,anio
1,2012-03-18,05:00:00,Sonora,Navojoa,Navojoa,Mexicana,1.10,Delgada,Mujer,7,Tiene Una Cicatriz En La Rodilla Izquierda Por...,Ninguno,FGE - Sonora,2234,2012
2,2007-02-05,02:00:26,Estado De Mexico,Valle De Bravo,Valle De Bravo,Mexicana,1.10,Delgada,Mujer,4,No Especificado,Ninguno,FGJ - Estado De Mexico,4102,2007
3,2009-03-14,08:30:54,Estado De Mexico,Chalco,Chalco,Mexicana,1.10,Delgada,Hombre,6,"Manchas, Parte Superior De Pierna Derecha, Cic...",Ninguno,FGJ - Estado De Mexico,3334,2009
4,2006-12-23,08:00:28,Estado De Mexico,Tlalnepantla De Baz,Tlalnepantla De Baz,Mexicana,1.10,Delgada,Hombre,10,"Lunares, A La Altura De La Cinturaforma De Man...",Ninguno,FGJ - Estado De Mexico,4146,2006
5,2008-01-11,12:00:17,Estado De Mexico,Toluca,Toluca,Mexicana,1.10,Delgada,Hombre,4,No Especificado,Ninguno,FGJ - Estado De Mexico,3762,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35897,2018-04-26,08:00:00,Puebla,Puebla,Puebla,Mexicana,1.60,Delgada,Hombre,22,Lunar En La Mejilla Y Tatuaje En El Cuello En ...,Ninguno,FGE - Puebla,4,2018
35898,2018-01-08,11:00:00,Colima,Villa De Alvarez,Villa De Alvarez,Mexicana,1.70,Robusta,Mujer,27,"El Ojo Izquierdo Tiene Un Enfermedad Como Tic,...",Ninguno,PGJ - Colima,112,2018
35899,2015-02-02,07:00:00,Puebla,Chila,Chilas De Las Flores,Mexicana,1.77,Mediana,Mujer,86,No Especificado,Ninguno,FGE - Puebla,1183,2015
35900,2017-08-22,04:00:00,Colima,Villa De Alvarez,Villa De Alvarez,Mexicana,1.76,Robusta,Hombre,41,Tatuaje En El Brazo Izquierdo Con La Imagen De...,Ninguno,PGJ - Colima,251,2017
35901,2018-04-11,02:00:00,Nuevo Leon,San Nicolas De Los Garza,San Nicolas De Los Garza,Mexicana,1.60,Delgada,Mujer,14,No Especificado,Ninguno,PGJ - Nuevo Leon,19,2018

Ya que la nueva columna se ha creado dentro del `DataFrame`, podemos ordenar los casos de personas desaparecidas por a√±o.

In [ ]:
df_anio= pd.DataFrame(df.groupby(['anio'], sort=True).size().reset_index(name='total'))
df_anio.sort_values('total',ascending=False)

    anio  total
40  2017   5426
39  2016   4520
34  2011   4059
37  2014   3788
36  2013   3648
35  2012   3285
38  2015   3271
33  2010   3205
41  2018   1634
32  2009   1370
31  2008    798
30  2007    619
29  2006     89
28  2005     47
25  2002     19
23  2000     17
26  2003     16
27  2004     15
24  2001     13
21  1998      9
20  1997      8
22  1999      8
19  1996      5
12  1989      4
6   1979      3
16  1993      3
4   1977      2
9   1985      2
10  1987      2
11  1988      2
14  1991      2
18  1995      2
13  1990      1
1   1971      1
15  1992      1
8   1984      1
7   1980      1
17  1994      1
5   1978      1
3   1976      1
2   1972      1
0   1968      1



> El a√±o con el mayor n√∫mero de casos de personas desaparecidas fue el 2017 con 5,426. Los resultados obtenidos respaldan la informaci√≥n investigada para el proyecto. Los primeros 13 lugares de la lista son a√±os del 2006 en adelante, que es cuando inicia la crisis de desaparecidos y el aumento m√°s r√°pido de casos de personas desaparecidas en la historia de M√©xico (desde que se inici√≥ el registro de personas desaparecidas).

**¬øCu√°ntas personas con discapacidad han desaparecido en M√©xico?**

---

Esta pregunta no surgi√≥ cuando est√°bamos realizando la investigaci√≥n. No obstante, nos pareci√≥ que es una pregunta relevante una vez que exploramos el contenido del registro. Es com√∫n que en M√©xico no se tome consideraci√≥n de las personas con capacidades diferentes, sin embargo recordemos que la realidad del pa√≠s tambi√©n les afecta a ellas.

In [ ]:
df.groupby(['discapacidad'], sort=False).size().reset_index(name='total')

       discapacidad  total
0           Ninguno  34843
1   No Especificado   1043
2           Autismo      7
3  Sindrome De Down      8



> La mayor√≠a de las personas desaparecidas no tienen una discapacidad. Hay 1,043 personas que no tienen una discapacidad especificada. Existen 15 personas con discapacidad desaparecidas, de las cuales 7 tienen autismo y 8 S√≠ndrome de Down.

**Preguntas sin respuesta**

---

Con el registro de datos seleccionado logramos contestar la mayor√≠a de las preguntas que nos propusimos al inicio del proyecto. Sin embargo quedaron un par de preguntas sin respuesta:


*   ¬øCu√°ntas personas desaparecidas son encontradas?

*   ¬øExiste un identificador para las personas desaparecidas?

En el registro no existe una columna que tenga el estado del caso o la carpeta de investigaci√≥n, por lo que no se sabe cu√°ntas personas se han encontrado. Adicionalmente, no existe un identificador para las personas desaparecidas, lo cual ser√≠a un dato importante para poder identificar casos espec√≠ficos de manera m√°s f√°cil. Esto podr√≠a fungir como llave primaria en an√°lisis m√°s complejos de los datos presentados.

# Exportar DataFrame a CSV

Finalmente, el `DataFrame` resultante se puede exportar como archivo.csv.

In [ ]:
df

,fecha,hora,entidad,municipio,localidad,nacionalidad,estatura,complexion,sexo,edad,senas_particulares,discapacidad,dependecia_origen,dias_desaparecido,anio
1,2012-03-18,05:00:00,Sonora,Navojoa,Navojoa,Mexicana,1.10,Delgada,Mujer,7,Tiene Una Cicatriz En La Rodilla Izquierda Por...,Ninguno,FGE - Sonora,2234,2012
2,2007-02-05,02:00:26,Estado De Mexico,Valle De Bravo,Valle De Bravo,Mexicana,1.10,Delgada,Mujer,4,No Especificado,Ninguno,FGJ - Estado De Mexico,4102,2007
3,2009-03-14,08:30:54,Estado De Mexico,Chalco,Chalco,Mexicana,1.10,Delgada,Hombre,6,"Manchas, Parte Superior De Pierna Derecha, Cic...",Ninguno,FGJ - Estado De Mexico,3334,2009
4,2006-12-23,08:00:28,Estado De Mexico,Tlalnepantla De Baz,Tlalnepantla De Baz,Mexicana,1.10,Delgada,Hombre,10,"Lunares, A La Altura De La Cinturaforma De Man...",Ninguno,FGJ - Estado De Mexico,4146,2006
5,2008-01-11,12:00:17,Estado De Mexico,Toluca,Toluca,Mexicana,1.10,Delgada,Hombre,4,No Especificado,Ninguno,FGJ - Estado De Mexico,3762,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35897,2018-04-26,08:00:00,Puebla,Puebla,Puebla,Mexicana,1.60,Delgada,Hombre,22,Lunar En La Mejilla Y Tatuaje En El Cuello En ...,Ninguno,FGE - Puebla,4,2018
35898,2018-01-08,11:00:00,Colima,Villa De Alvarez,Villa De Alvarez,Mexicana,1.70,Robusta,Mujer,27,"El Ojo Izquierdo Tiene Un Enfermedad Como Tic,...",Ninguno,PGJ - Colima,112,2018
35899,2015-02-02,07:00:00,Puebla,Chila,Chilas De Las Flores,Mexicana,1.77,Mediana,Mujer,86,No Especificado,Ninguno,FGE - Puebla,1183,2015
35900,2017-08-22,04:00:00,Colima,Villa De Alvarez,Villa De Alvarez,Mexicana,1.76,Robusta,Hombre,41,Tatuaje En El Brazo Izquierdo Con La Imagen De...,Ninguno,PGJ - Colima,251,2017
35901,2018-04-11,02:00:00,Nuevo Leon,San Nicolas De Los Garza,San Nicolas De Los Garza,Mexicana,1.60,Delgada,Mujer,14,No Especificado,Ninguno,PGJ - Nuevo Leon,19,2018

In [ ]:
df.to_csv('https://github.com/MinervaNunez/Proyecto-de-Python-BEDU/tree/main')

*Hagamos conciencia y cooperemos con nuestra sociedad y gobierno para disminuir en medida de lo posible y de nuestra seguridad este delito, reportando los hechos que nos parezcan sospechosos*. Muchas Gracias.


**Equipo 8**
*   Nicky Garc√≠a Fierros (nickygarcia@ciencias.unam.mx)
*   Kevin Martin Rivera Castro (kevinrc.unam@gmail.com)
*   Jes√∫s Manuel Jimenez Cardoza (chucho003@hotmail.com)
*   Minerva Estefan√≠a N√∫√±ez Manjarrez (estefania.nun.man@gmail.com)
*   Luis Mateo Patricio Pineda (mateopa@gmail.com)